:root {
  --normal: #E8E6E5;
  --fire: #F3733F;
  --water: #8ED8F6;
  --electric: #FFDD7B;
  --grass: #BDD84E;
  --ice: #96D9D6;
  --fighting: #FDBD46;
  --poison: #0A5F6D;
  --ground: #FCB23C;
  --psychic: #E6AFD0;
  --bug: #A6B91A;
  --rock: #B6A136;
  --ghost: #735797;
  --dragon: #889AD1;
  --fairy: #D685AD;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  flex-wrap: wrap;
  width: clamp(300px, 100%, 1920px);
  display: flex;
  justify-content: center;
  gap: 154px;
  padding: 64px;
}
body {
  background: #272727;
}

.content {
  position: relative;
  margin-bottom: 64px;
  
}

.box {
  position: relative;
  width: 240px;
  height: 300px;
  transform-style: preserve-3d;
  transform:  perspective(100px) rotateY(-30deg);
  transition: 1.5s;
  margin-bottom: 16px;
}
.box::before {
  content: '';
  position: absolute;
  width: 240px;
  height: 240px;
  background: #2225;
  transform:  translateY(240px) rotateX(90deg) scale(1.1);
  filter: blur(50px);
}




.box .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 1px  solid  black;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)  * 90deg)) translateZ(120px);
}

.box .card .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  bottom: -10px;
  width: 100%;
  height: 240px;
  cursor: pointer;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translateZ(30px);
 
  transition: transform 0.3s ease; 
}

.box .card .imgBx img {
  position: absolute;
  width: 60%;
  height: 60%;
  
}

.box .card .imgBx:hover {
  transform: scale(1.1) translateZ(30px);
}
.box .card .poke-name {
  height: 60px;
  border-radius: 20px;
  transform: translateZ(20px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.box .card .poke-name h2 {
  position: relative;
  top: 10px;
  width: 240px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
}


.btns {
  width: 100%;
  position: absolute;
  bottom: -80px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btns div {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns div:active {
  background: #333;
}
.btns div::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  transform: rotate(45deg) translate(-2.5px, 2.5px);
}

.btns div.prev::before {
  transform: rotate(225deg) translate(-2.5px, 2.5px);
}

.btns div:active::before {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}


.water {
  background: url(./img/water_bg.png);
  background-size: cover;
}

.fire {
  background: url(./img/fire_bg.png);
  background-size: cover;
}
.grass {
  background: url(./img/grass_bg.png);
  background-size: cover;
}
.bug {
  background: url(./img/bug_bg.png);
  background-size: cover;
}
.normal {
  background: url(./img/normal_bg.png);
  background-size: cover;
}
.electric {
  background: url(./img/electric_bg.png);
  background-size: cover;
}
.fighting {
  background: url(./img/fighting_bg.png);
  background-size: cover;
}
.ghost {
  background: url(./img/ghost_bg.png);
  background-size: cover;
}
.rock {
  background: url(./img/rock_bg.png);
  background-size: cover;
}
.ground {
  background: url(./img/ground_bg.png);
  background-size: cover;
}
.poison {
  background: url(./img/poison_bg.png);
  background-size: cover;
}
.psychic {
  background: url(./img/psychic_bg.png);
  background-size: cover;
}
.fairy {
  background: url(./img/fairy_bg.png);
  background-size: cover;
}
.ice {
  background: url(./img/ice_bg.png);
  background-size: cover;
}
.dragon {
  background: url(./img/dragon_bg.png);
  background-size: cover;
}
.mew {
  background: url(./img/mew_bg.png);
  background-size: cover;
}
.mewtow {
  background: url(./img/mewtow_bg.png);
  background-size: cover;
}

.blank {
  background: url(./img/blank_bg.png);
  background-size: cover;
  background-position: 50%, 0%;
}



.fire-bg {
  background: var(--fire);
}
.water-bg {
  background: var(--water);
}
.grass-bg {
  background: var(--grass);
}
.bug-bg {
  background: var(--bug);
}
.normal-bg {
  background: var(--normal);
}
.electric-bg {
  background: var(--electric);
}
.poison-bg {
  background: var(--poison);
}
.psychic-bg {
  background: var(--psychic);
}
.fighting-bg {
  background: var(--fighting);
}
.rock-bg {
  background: var(--rock);
}
.ghost-bg {
  background: var(--ghost);
}
.ground-bg {
  background: var(--ground);
}
.fairy-bg {
  background: var(--fairy);;
}
.ice-bg {
  background: var(--ice);
}
.dragon-bg {
  background: var(--dragon);
}






.fireShadow::before {
  background: var(--fire);
}
.waterShadow::before {
  background: var(--water);
}
.grassShadow::before {
  background: var(--grass);
}
.bugShadow::before {
  background: var(--bug);
}
.normalShadow::before {
  background: var(--normal);
}
.electricShadow::before {
  background: var(--electric);
}
.poisonShadow::before {
  background: var(--poison);
}
.psychicShadow::before {
  background: var(--psychic);
}
.fightingShadow::before {
  background: var(--fighting);
}
.rockShadow::before {
  background: var(--rock);
}
.ghostShadow::before {
  background: var(--ghost);
}
.groundShadow::before {
  background: var(--ground);
}
.fairyShadow::before {
  background: var(--fairy);
}
.iceShadow::before {
  background: var(--ice);
}
.dragonShadow::before {
  background: var(--dragon);
}

.mixShadow::before {
  background: linear-gradient(217deg,#f6e652, rgba(8, 209, 39, 0) 70.71%),
            linear-gradient(127deg, #ff9441, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #529AD0, rgba(0,0,255,0) 70.71%);
}
.mixShadowfour::before {
  background: linear-gradient(217deg,#529AD0, rgba(8, 209, 39, 0) 70.71%),
            linear-gradient(217deg,#f6e652, rgba(8, 209, 39, 0) 99.71%),
            linear-gradient(127deg, #ff9441, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #8b7b62, rgba(0,0,255,0) 70.71%);
}



.loadButton {
  background-color: rgb(98, 95, 95);
  color: white;
  font-size: 16px;
  padding: 16px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  margin: 32px;
  cursor: pointer;
}
.loadButton:active {
  background: #333;
}

.d-none {
  display: none;
}

@media (max-width: 650px) {
  .content {
    margin-bottom: 0;
  }
  .box {
    width: 150px;
    height: 200px;
    margin-bottom: 16px;
  }
  .box::before {
    width: 160px;
    height: 160px;
    transform:  translateY(170px) rotateX(90deg) scale(1.1);
    filter: blur(50px);
  }
  
  .box .card {
    width: 100%;
    height: 220px;
    transform: rotateY(calc(var(--i)  * 90deg)) translateZ(75px);
  }

  .box .card .imgBx {
    width: 100%;
    height: 170px;
  }
  
  .box .card .imgBx img {
    width: 55%;
    height: 55%;
    
  }
  .box .card .poke-name {
    height: 50px;
  }
  .box .card .poke-name h2 {
    width: 100%;
    font-size: 14px;
  }
}